# General Data Analysis

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Retreive Data From LA City's API

In [2]:
max_rows = 2000000
url = 'https://data.lacity.org/resource/7fvc-faax.csv?$limit=' + str(max_rows)
df = pd.read_csv(url)

In [3]:
print(len(df))

1678869

## Column Titles

In [11]:
list(df)

['area_id',
 'area_name',
 'crm_cd',
 'crm_cd_1',
 'crm_cd_2',
 'crm_cd_3',
 'crm_cd_4',
 'crm_cd_desc',
 'cross_street',
 'date_occ',
 'date_rptd',
 'dr_no',
 'location',
 'location_1',
 'location_1_address',
 'location_1_city',
 'location_1_state',
 'location_1_zip',
 'mocodes',
 'premis_cd',
 'premis_desc',
 'rpt_dist_no',
 'status',
 'status_desc',
 'time_occ',
 'vict_age',
 'vict_descent',
 'vict_sex',
 'weapon_desc',
 'weapon_used_cd']

## Analysis

In [ ]:
plt.figure();
df['crm_cd'].plot(kind='bar')

In [7]:
df['crm_cd']

0          740
1          888
2          330
3          330
4          745
5          510
6          888
7          210
8          740
9          901
10         626
11         442
12         624
13         439
14         442
15         210
16         330
17         330
18         440
19         745
20         745
21         740
22         330
23         350
24         668
25         745
26         354
27         930
28         510
29         740
          ...
1678839    341
1678840    310
1678841    310
1678842    310
1678843    440
1678844    900
1678845    740
1678846    901
1678847    930
1678848    626
1678849    420
1678850    956
1678851    740
1678852    330
1678853    510
1678854    210
1678855    310
1678856    626
1678857    510
1678858    933
1678859    310
1678860    440
1678861    510
1678862    330
1678863    624
1678864    341
1678865    626
1678866    354
1678867    812
1678868    624
Name: crm_cd, Length: 1678869, dtype: int64